.components
  .modals
    .modal.fade#add-folder-modal
      .modal-dialog.modal-sm
        .modal-content
          .modal-header
            %h5.modal-title New folder
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
          .modal-body#new-folder-form
            = render 'nhim/folders/new_folder', folder: @new_folder
          .modal-footer
            %button.btn{ data: { dismiss: :modal }, type: :button } Cancel
            %button.btn.btn-primary{ data: { type: :submit }, type: :button } Create
      :javascript

  #actions
    %ul
      %li
        = link_to '#', data: { action: :rename } do
          .icon= image_tag 'nhim/rename.png'
          .name Rename
      %li
        = link_to '#' do
          .icon= image_tag 'nhim/remove.png'
          .name Remove
