#sidebar
  = link_to 'New', '#new-dropdown', id: 'add-main', data: { toggle: 'dropdown-actions' }
  %ul.dropdown-actions#new-dropdown
    %li
      = link_to '#add-folder-modal', data: { toggle: :modal } do
        .icon= image_tag('nhim/folder.png')
        %span.text Folder
    %li
      = link_to '#' do
        .icon= image_tag('nhim/file.png')
        %span.text File

  %ul#sidebar-items
    %li
      = link_to nhim_starred_path do
        = image_tag 'nhim/star.png'
        %span Starred
    %li
      = link_to nhim_deleted_path do
        = image_tag 'nhim/trash.png'
        %span Deleted
